@{
    ViewData["Title"] = "Hakkımda";
}
<div class="fade-in">
    <h2 class="content-slide">Ben Kimim?</h2>
    <p class="content-slide" style="animation-delay: 0.3s;">
        Adım Mehmet Efe Altın, Tuzla Mesleki ve Teknik Anadolu Lisesi'nde 11. sınıf öğrencisiyim. Yazılıma olan tutkum beni oyun geliştirme ve web tasarımı dünyasına çekti. İleride başarılı bir yazılım mühendisi olmayı hayal ediyorum. Şu anda HTML, CSS ve temel Python bilgimle projeler geliştiriyorum.
    </p>
</div>