@{
    ViewData["Title"] = "CV";
}
<div class="fade-in">
    <h2 class="content-slide">Özgeçmiş</h2>
    <p class="content-slide" style="animation-delay: 0.3s;">
        Özgeçmişimi aşağıdan PDF olarak indirebilirsiniz. Sertifikalarım da özgeçmiş içinde yer alıyor.
    </p>
    <a href="~/files/CV_MehmetEfeAltin.pdf" class="btn btn-success glow-btn content-slide" style="animation-delay: 0.6s;" download>CV'yi İndir</a>
</div>