@{
    ViewData["Title"] = "Anasayfa";
}
<div class="text-center fade-in">
    <h1 class="content-slide">Hoş Geldiniz!</h1>
    <p class="lead content-slide" style="animation-delay: 0.3s;">
        Merhaba! Ben Mehmet Efe Altın. Yazılım dünyasına tutkulu bir lise öğrencisiyim. Oyun geliştirme ve web tasarımıyla ilgileniyorum. Ayrıca müzik ve görsel sanatlara da bayılıyorum!
    </p>
    <a class="btn btn-primary glow-btn content-slide" style="animation-delay: 0.6s;" asp-controller="Home" asp-action="About">Daha Fazla Bilgi</a>
</div>
